 .sticky-top {
             background: #ffff;
             border-bottom: solid #f1f1f1 ; 
             animation: 0.7s ease-in-out 0.1s normal;
            } 

.navbar-expand-lg .navbar-nav .nav-link {
     padding: 15px 15px; 
    font-size: 15px;
    font-weight: 500;
    color: #556665;
    cursor: pointer;
}

          #owl-banner{
              position: relative;
          }
          #owl-banner .owl-nav.disabled {
              display: block;
          }

          #owl-banner .owl-nav .owl-prev {
              left: 10%;
              transform: translateY(-50%) scale(-1, 1) !important;
          }

          #owl-banner .owl-nav .owl-prev, #owl-banner .owl-nav .owl-next {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 50%;
              border-radius: 50%;
              background: #fff;
              padding: 5px;
              opacity: 0.9;
          }

          #owl-banner .owl-nav .icon-know-more-arrow {
              font-size: 40px;
              color: #798c93;
          }

          #owl-banner .owl-nav .owl-next {
              right: 10%;
          }

          #owl-banner .owl-nav .owl-prev, #owl-banner .owl-nav .owl-next {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 50%;
              background: #fff;
              padding: 5px;
              opacity: 0.9;
          }
          #owl-banner .owl-nav .icon-know-more-arrow:hover {
              color: #f29a32;
          }
           .banner-carousel{
            text-align: center !important;
          }
          .banner-carousel .owl-dots {
              position: absolute;
              top: 90%;
              right: 40%;
             } 
            .owl-dot.active span, .owl-dot:hover span {
                    background: #42d79e;
                    border-color: #42d79e;
           }

.banner-carousel ul {
    list-style: none;
}
    .owl-dot span {
        width: 20px;
        height: 20px;
        margin: 0 11px;
        background: #d9dcdd;
        display: block;
        border: 6px #fff solid;
        border-radius: 50%;
    } 

    @media (max-width: 767px){
             #owl-banner .owl-nav .icon-know-more-arrow {
                          font-size: 25px;
                        }

            #owl-banner .owl-nav .owl-prev, #owl-banner .owl-nav .owl-next {
              width: 35px;
              height: 35px;
              }
            #owl-banner .owl-nav .owl-prev, #owl-banner .owl-nav .owl-next {
              width: 35px;
              height: 35px;
            }
            .owl-dot span {
                width: 10px;
                height: 10px;
                border: 2px #fff solid;
                margin: 0 6px;
             }
            
             
        }


  ul.Product-listing li .inner {
    border: 1px #d5e0e1 solid;
    position: relative;
    transition: all 0.3s ease 0s;
    padding: 0px;
    background: #fff;
    border: 1px #e0e5e9 solid;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

ul.Product-listing li .product-block {
     padding: 0px 0px; 
}

.features-listing .equal-hight {
    padding: 15px;
    background: #fff;
    border: 1px #e0e5e9 solid;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}
ul.features-listing li:last-child {
    padding-bottom: 15px; 
}


.thumbnail-holder .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    text-align: center;
    opacity: 0;
   -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
    z-index: 1;
}

.thumbnail-holder:hover .mask {
    background-color:rgb(0, 0, 0 , 0.7);
    cursor: pointer;
   /* opacity: 1;*/
  /*  transition: all 0.5s ease 0s;*/

    -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

a.ovelay-icon {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background: #128FD0;
    font-size: 24px;
    color: #fff;
    display: block;
    padding: 23px;
}

.thumbnail-holder a.ovelay-icon:hover {
    background: #fff;
    color: #128FD0;
} 

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.project-card:hover .project-overlay {
  height: 100%;
}

.project-text {
  font-size: 20px;
  position: absolute;
  text-align: center;
  
}

.project-overlay .project-text .project-link{
   margin-top: 20px ;
}

.project-overlay .project-text .project-link .know-more{
  color: #ffffff;
}

.blog-blocks .card-body {
     padding: 10px 10px; 
}
a.know-more:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    font-family: 'icomoon';
    font-size: 24px;
    content: "\e900";
    color: #467908;
    transition: all 0.3s ease 0s;
}

a.scroll-top:hover {
    background: #467908;
}
ul.Product-listing li .product-detail {
    padding: 20px 5px 20px 5px;
    border-top: 1px #d5e0e1 solid;
    text-align: center;
    transition: all 0.3s ease 0s;
}
     .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    /* line-height: 88px; */
    text-align: center;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
   
}

.jobskills-height{
  height:100px;
  overflow-y: scroll;
}

.career-info-panel a.apply-now {
    background: #798c93;
    padding: 0 20px;
    margin-bottom: 0px;
    color: #ffffff;
}

.apply-now:hover, .career-info-panel:hover .apply-now {
    background: #467908;
}

.career-info-panel a.apply-now:hover {
    background: #57bce2;
    color: #ffffff;
}

.modal-header .close1 {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

button.close1 {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.close1 {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.error{
  color: red;
}
.redcolor{
  color:red;
}

.paging-block ul li strong { color:#128FD0; padding:0px 10px 0px 10px; }
.paging-block ul li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #d7dae4;
    border-radius: 2px;
    text-align: center;
    line-height: normal;
    color: #62657b;
    font-size: 14px;
    padding-top: 5px;
}


#rightside-sidebar a {
  position: absolute;
  right:-280px;
  transition: 0.3s;
  padding: 15px;
  width:330px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 0px 0px 5px;
  z-index: 20;
  position: fixed;

}

#rightside-sidebar a:hover {
  right: 0;
}

#mobilenumber-sidebar {
  top: 220px;
  background-color: #e0ebeb;
  color: #467908;

}

#mobilenumber-sidebar i {
  color: #467908;
}


#email-sidebar {
  top: 280px;
  background-color: #e0ebeb;
  color: #128FD0;
}

#email-sidebar i {
  color: #128FD0;
}
#projects {
  top: 340px;
  background-color: #f44336;
}

#contact {
  top: 400px;
  background-color: #555
}

 @media (max-width: 1024px){
  .brands ul .owl-item img {
    width: auto;
    opacity: 0.7;
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: all 0.3s ease 0s;
 }

}

/*.inner-banner {
    text-align: center;
    min-height: 200px;
    position: relative;
}*/
.header-top{
  background-color: #4CAEC8;
  color: #ffffff;
}

.header-top ul.top-nav li a {
    color: #ffffff;
}

.header-top ul.follow-us li a {
    color:  #ffffff;
}

.header-top ul.top-nav li {
    display: block;
    padding: 0 10px;
    float: left;
    font-size: 12px;
    text-transform: lowercase; 
}

.footer .top h4 {
    padding-bottom: 10px;
    font-size: 18px;
}

.footer .subscribe p {
    padding-bottom: 20px;
    line-height: 20px;
}

         #owl-banner{
              position: relative;
          }
          #owl-brands .owl-nav .disabled {
              display: block;
          }

          #owl-brands .owl-nav .owl-prev {
              left: -5%;
              transform: translateY(-50%) scale(-1, 1) !important;
          }

          #owl-brands .owl-nav .owl-prev, #owl-brands .owl-nav .owl-next {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 40%;
              border-radius: 50%;
              background: #fff;
              padding: 5px;
              opacity: 0.9;
          }

          #owl-brands .owl-nav .icon-know-more-arrow {
              font-size: 40px;
              color: #798c93;
          }

          #owl-brands .owl-nav .owl-next {
              right: 5%;
          }

          #owl-brands .owl-nav .owl-prev, #owl-brands.owl-nav .owl-next {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 50%;
              background: #fff;
              padding: 5px;
              opacity: 0.9;
          }
          #owl-brands .owl-nav .icon-know-more-arrow:hover {
              color: #f29a32;
          }

          
    @media (max-width: 767px){
             #owl-brands .owl-nav .icon-know-more-arrow {
                          font-size: 25px;
                        }

            #owl-brands .owl-nav .owl-prev, #owl-brands .owl-nav .owl-next {
              width: 35px;
              height: 35px;
              }
            #owl-brands .owl-nav .owl-prev, #owl-brands .owl-nav .owl-next {
              width: 35px;
              height: 35px;
            }
            
            
             
        }

        .navbar-light {
    background: none;
    border: none;
    margin-bottom: 5px;
}


.contact-form-wrapper .submit {
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 10px;
    margin: 15px auto 0;
    display: block;
    font-size: 14px;
    background: #467908;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.padding-lg {
    padding: 20px 0;
}

.contact-form-wrapper textarea {
    width: 100%;
    height:50px;
    line-height: 20px;
    
}

.contact-map {
    height: 450px; 
    position: relative;
    overflow: hidden;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #128FD0;
   /* background-color: red;*/
}